/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "header";
@import "genre";
@import "talk";

:root {
  --color-pink: rgba(246,194,194,1);
  --color-yellow: rgba(249,251,186,1);
  --color-blue: rgba(212,237,244,1);
  --color-green: rgba(226,242,213,1);
  --color-navy: rgba(58,64,90,1);
}

* {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

a {
  color: var(--color-navy);
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

li {
  list-style: none;
}

hr {
  margin: 30px 0;
}