.user__name {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  &--edit {
    font-size: 20px;
  }
}

.user__detail {
  margin-top: 10px;
  display: flex;
}

.user__profile {
  margin-top: 10px;
  border: 1px solid var(--color-blue);
  padding: 10px;
}

.user__categories {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  &--list {
    cursor: pointer;
    border-bottom: 2px solid var(--color-yellow);
    margin: 5px;
  }
}

.user__talks {
  margin-top: 20px;
}

.selected {
  background: var(--color-yellow);
  border-radius: 20px;
  padding: 5px;
}

.search-title {
  font-size: 20px;
}

.search-content {
  margin-top: 10px;
}

.search-field {
  margin-top: 10px;
}

.search-result {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--color-green);
}